*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}



/*utilità*/
.container{
    max-width: 1500px;
    margin: auto;
}

.bordo{
    border: 2px solid black;
}

.flex{
    display: flex;
}

/* header*/

.display-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgb(255, 94, 0);
}


.head {
    height: 100%;
}


.head .head-left{
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
}
.head-left a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}


.head .head-center{
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}
.head-center img{
    width: 200px;
}



.head .head-right{
    flex-basis: 15%;
}



/*main card section*/

main{
    padding-top: 150px;
}

.row .cards-section{
    min-height: 800px;
    display: flex;
}
.cards-section .card{
    flex-basis: 33%;
    align-content: flex-start;
    position: relative;
    z-index: -1;
}
.card img{
    height: 800px;
}


.discounts p{
position: absolute;
bottom: 140px;
color: white;
padding: 5px;
background-color: red;
}

.discounts p:last-child{
 left: 110px;
 background-color:green;
}