*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/*utilità*/
.container{
    max-width: 1500px;
    margin: auto;
}

.bordo{
    border: 2px solid black;
}

.flex{
    display: flex;
}

/* header*/

.display-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgb(255, 94, 0);
}


.head {
    height: 100%;
}


.head .head-left{
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
}
.head-left a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}


.head .head-center{
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}
.head-center img{
    width: 200px;
}



.head .head-right{
    flex-basis: 15%;
}



/*main card section*/

main{
    padding-top: 150px;
}
.row{
    padding-top: 20px;
}
.cards-section{
    min-height: 600px;
    display: flex;
    gap: 15px;
}
.cards-section .card{
    flex-basis: 33%;
    position: relative;
    z-index: -1;
}

.card img{
    width: 100%;
}
.card .favorite{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.favorite a{
    color: red;
    padding: 5px 10px;
}


.prezzi p::after{
    content: "\20AC";
}
.prezzi p{
    display: inline;
}
.prezzi p:first-child{
    color: red;
}
.prezzi p:nth-child(2){
    text-decoration: line-through;
}



.discounts .row{
position: absolute;
bottom: 140px;
}

.discounts p{
color: white;
padding: 5px 10px;
background-color: red;
display: inline-block;
}

.discounts p:nth-child(2){
background-color:green;
}

.discounts #echo-scelta{
background-color: green;
}

/*HOVER*/
.hover-img img{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1;
}
.hover-img:hover img{
    display: inline-block;
    cursor: pointer;
}